@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* root styles */
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}
/* universal styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* normal styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #333;
}
h1, h2 {
    font-weight: 400;
    color: #333;
    font-family: 'Staatliches', sans-serif;
}
p {
    margin: 10px 0;
}
img {
    width: 100%;
}
/* navbar styles */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
.navbar .flex {
    justify-content: space-between;
}
.navbar ul {
    display: flex;
}
.navbar h1 {
    color: #fff;
    font-family: 'Permanent Marker', sans-serif;
    letter-spacing: 2px;
}
.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: 500;
    font-size: 1rem;
}
.navbar a:hover {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 2rem;
}

/* showcase styles */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1 {
    font-size: 40px;
}
.showcase p {
    margin: 20px 0;
}
.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}
.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 370px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}
.showcase-form .form-control {
    margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 95%;
    padding: 3px;
    font-size: 16px;
}
.showcase-form input:focus {
    outline: none;
}
.showcase-form .btn-primary {
    margin-top: 10px;
}
.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    background: #fff;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
/* stats styles */
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}
.stats-heading {
    max-width: 500px;
    margin: auto;
}
.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}
/* CLI styles */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
/* cloud styles */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}
.cloud .grid .btn {
    margin-top: 20px;
}
/* Languages styles */
.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: all 0.2s ease-in;
}
.languages .card:hover {
    transform: translateY(-15px)
               scale(0.95);
}
.languages .flex {
    flex-wrap: wrap;
}
.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
/* docs */
.docs-main .container {
    display: flex;
    flex-direction: column;
}
/* docs section */
.docs-head img {
    width: 200px;
    justify-self: flex-end;
}
.docs-main h3 {
    margin: 20px 0;
}
.docs-main .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main .seperate {
    font-size: 14px;
    font-weight: bolder;
}
code, pre {
    background: #333;
    color: #fff;
    padding: 10px;
}
.docs-pricing {
    background: linear-gradient(
        180deg, #202540, #2a2355);
    height: 700px;
    margin-bottom: 0;
}
.docs-pricing .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: visible;
}
.docs-pricing .grid .card {
    width: 250px;
    height: 380px;
}
.docs-pricing .grid p {
    
    color: #212121;
}
.docs-pricing .grid .spans0 {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 25px;
}
.docs-pricing .grid .spans1 {
    font-weight: lighter;
    font-size: 15px;
    color: grey;
    margin-left: 5px;
    margin-top: 25px;    
}
.docs-pricing .marg {
    margin-top: 30px;
    font-size: .9rem;
}
.docs-pricing .marg1 {
    font-size: .9rem;
}
.docs-pricing button {
    margin-top: 30px;
    border-radius: 2rem;
    font-weight: bolder;
    position: relative;
    display: block;
    border: none;
    background-color: turquoise;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    
}

.docs-pricing h2 {
    font-size: 2rem;
    color: #993955;
}
.docs-pricing button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(
        180deg, #202540, #2a2355);
    left: 0;
    top: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .25s ease-in;
}
.docs-pricing button:hover::after {
    transform: scaleX(1);
}
/* features-head */
.features-head img {
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}
.features-main .card > i {
    margin-right: 20px;
}
.features-main .grid {
    padding: 30px;
    row-gap: 20px;
}
.features-main .grid {
    flex-direction: row;
}
/* footer styles */
.footer h1 {
    color: #fff;
}
.footer .social i {
    padding: 0 5px;
}

/* animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }


    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    
    100% {
        transform: translateX(0);
    }
}
/* media query for mobile size */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }
    .navbar .flex {
        flex-direction: column;
        overflow: visible;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, .1);
    }
    .footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .footer .grid .social,
    .footer .grid nav {
        margin-top: 40px;
    }
    .showcase .showcase-text p {
        width: 90vw;
        margin: 20px auto;
        text-align: center;
    }
    .features-sub-head .grid {
        overflow: visible;
    }
    .docs-main .container {
        overflow: visible;
    }
}
/* media query for tablet size */
@media(max-width: 768px) {
    
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-head .grid,
    .features-sub-head .grid,
    .features-main .grid,
    .docs-main .grid,
    .docs-head .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {
        height: auto;
    }
    .showcase-form {
        margin: auto;
        justify-self: center;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }
    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;   
    }
    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;   
    }
    .docs-pricing .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .docs-pricing {
        height: auto;
    }
    .docs-pricing .grid .card {
        justify-self: center;
        margin-top: 20px;
    }
    .docs-pricing .grid .card:first-child {
        margin-top: 60px;
    }
    .docs-pricing .grid .card:last-child {
        margin-bottom: 60px;
    }
}